<!DOCTYPE html>
<html>
    <head>
        <title>Foodfy</title>

        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <div class="wrapper">            
            <header>
                <!-- <img src="/layouts/assets/logo.png"> -->
                <a href="/"><img src="/layouts/assets/logo.png" ></a>
                <div class="menu">
                    <a href="/">Home</a>
                    <a href="/receitas">Receitas</a>
                    <a href="/sobre">Sobre</a>
                </div>
            </header>

            {% block content %} {% endblock %}

        </div>
    </body>
</html>