{% extends "layout.njk" %}

{% block content %}
    <main>
        <div class="content">

            {% for item in items %}
            <div class="card" id="{{item.id}}">
                <img src="{{item.image}}" alt="{{item.title}}">
                <h4 class="card_title">{{item.title}}</h4>
                <p class="card_author">{{item.author}}</p>
            </div>
            {% endfor %}

        </div>
    </main>
</div>

<footer>
    Todos direitos reservados, receitas Foodfy.
</footer>

<div class="modal-overlay">
    <div class="modal">
        <div class="modal-content">
            <img src="{{item.image}}">
            <h4 class="modal_title"></h4>
            <p class="modal_author"></p>
        </div>

        <div class="close-modal">
            <a href="#">Fechar modal</a>
        </div>
    </div>
</div>
<script src="scripts.js"></script>
{% endblock %}